@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-size: 1.75em;
}
body {
  background-color: #ffffff;
  letter-spacing: 0.03rem;
}
nav a {
  display: block;
  width: 100%;
}

.sidebar-bg {
  background-color: #f8f9f6;
}

.controls-container {
  --highlight-width: auto;
  --highlight-x-pos: 0;
}

.controls::before {
  width: var(--highlight-width);
  transform: translateX(var(--highlight-x-pos));
}
